.header-row {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 1292px;
  height: 622px;
  left: calc(50% - 1292px / 2 - 15px);
  top: 92px;
  background: linear-gradient(90deg, #96e9fb 0%, #abecd6 100%);
  border-radius: 20px;
}

.header-left {
  margin-left: 123.5px;
  margin-top: 151.5px;
  height: 316px;
  width: 548px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}

.header-left h5 {
  height: 24px;
  width: 123px;
  margin-bottom: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2a7cc7;
}

.header-left h1 {
  width: 567px;
  height: 80px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.header-left h4 {
  width: 390px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}

.shop-now-btn {
  width: 221px;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: #23a6f0;
  border-radius: 5px;
  border-style: none;
}

.shop-now-btn:hover {
  cursor: pointer;
}

.shop-now-btn h3 {
  margin: 15px 40px 15px 40px;
  width: 150px;
  height: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.header-right img {
  width: 697px;
  height: 622px;
  position: absolute;
  left: 690.5px;
}
