@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.navbar {
  position: absolute;
  width: 1437px;
  height: 58px;
  left: calc(50% - 1437px / 2 - 1.5px);
  top: 0px;
  /* background-color: gray; */
}

.nav-body h3 {
  height: 32px;
  width: 116px;
  top: 13px;
  margin: 13px 1286px 1830px 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.nav-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 1155px;
  height: 58px;
  /* left: calc(50% - 1155px / 2 + 124px); */
  left: 265px;
  right: 814px;
  top: 0px;
  gap: 400px;
  /* background-color: gray; */
}

li {
  display: inline;
  margin: 3px;
}

.link {
  width: 43px;
  height: 24px;
  display: inline;
  margin: 16.5px;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
}

.nav-list2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 340px;
  height: 54px;
  left: calc(50% - 324px / 2 + 416.5px);
  top: calc(50% - 54px / 2);
}

.nav-list2 li a{
  height: 24px;
  width: 119px;
  top: 15px;
  left: 32px;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  align-items: center;
  color: #23A6F0;
}
