.products-container {
  width: 1500;
  /* height: 1200px; */
  margin-top: 40px;
  margin-left: 30px;
}

.products-container h3 {
  width: 172px;
  height: 32px;
  margin-top: 34px;
  top: 748px;
  left: 95px;
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #000000;
}

.products-row {
  height: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 34px; */
  overflow-x: scroll;
}

.item-card {
  height: 530px;
  width: 366px;
  margin-top: 820px;
  margin-left: 69px;
  border-radius: 10px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.name {
  width: 341px;
  height: 76px;
  margin-left: 16px;
  margin-top: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #000000;
}

.pricing {
  display: flex;
  flex-direction: row;
  gap: 87px;
  /* justify-content: space-between; */
}

.stars {
  margin-top: -12px;
  gap: 4px;
  margin-left: 2px;
}

.prices {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 20px;
}

.old-Price {
  margin-top: -7px;
  /* position: absolute; */
  width: 60px;
  height: 32px;
  left: 252px;
  top: 1186px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-decoration-line: line-through;
  color: #444444;
}

.new-Price {
  margin-top: -6px;
  width: 92px;
  height: 32px;
  left: 323px;
  top: 1183px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #000000;
}

.btn {
  width: 328px;
  height: 43px;
  left: 87px;
  top: 1235px;
  margin-right: 20px;
  margin-bottom: 14px;
  margin-left: 18px;
  text-align: center;
  justify-content: center;
  background: #23a6f0;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
